<section class="emptycart">
  <header class="page-header">
    <h1> Your cart is empty ! </h1>
  </header>
  <div class="well emptycart">
    <div class="emptycart-message">
      <h2>Please go to main page and shopping ! :) </h2>
    </div>
    <div class="emptycart-img">
      <img src="/assets/empty-cart.png" />
    </div>
    <div class="emptycart-link">
      <h3><%= link_to 'Main page', :root %></h3>
    </div>
  </div>