<tr>
    <td>
    <h4><%= category.name %></h4>
    </td>
    <% if category.products.size == 0 %>
      <td>
        <h4> None </h4>
      </td>
    <% else %>
      <td>
        <h4><%= category.products.size %> Products</h4>
      </td>
    <% end %>

</tr>